.card-img-detail{grid-area: card-img-detail;}
.card-title-detail{grid-area: card-title-detail;}
.description-detail{grid-area: description-detail;}
.price-detail{grid-area: price-detail;}
.ItemCount{grid-area: ItemCount;}


.contenedorDescription{
    margin-top: 100px;
    border-color: black;
    border-width: 1px;
    border-style: groove;
    display: grid;
    grid-template: "card-img-detail card-title-detail card-title-detail"
                    "card-img-detail description-detail description-detail" 
                    "card-img-detail price-detail price-detail"
                    "card-img-detail ItemCount ItemCount"/
                        40%   30% 30%;
}

.card-img-detail{
    width: 500px;
    align-content: center;
    margin: auto;
}


.card-title-detail {
    font-size: 50px;
    padding: 40px;
    text-align: left;
}


.price-detail{
    font-size: 40px;
    text-align: left;
    padding: 40px;
}


.description-detail{
    font-size: 30px;
    text-align: left;
    padding: 40px;
}

.ItemCount{
    padding-left: 40px;
}