.card-img-detail{grid-area: card-img-detail;}
.card-title-detail{grid-area: card-title-detail;}
.description-detail{grid-area: description-detail;}
.price-detail{grid-area: price-detail;}
.ItemCount{grid-area: ItemCount;}


.contenedorDescription{ 
    width: 1000px;
    align-content: center;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template: "card-img-detail card-title-detail card-title-detail"
                    "card-img-detail price-detail ItemCount" 
                    "description-detail description-detail description-detail"/
                        40%   30% 30%;
}

.card-img-detail{
    width: 100%;
    align-content: center;
    padding-top: 50px;
}


.card-title-detail {
    font-size: 40px;
    padding: 40px;
    text-align: left;
}


.price-detail{
    font-size: 40px;
    text-align: center;
    align-content: center;
    margin: auto;
}


.description-detail{
    font-size: 30px;
    text-align: left;
    padding: 40px;
}

.ItemCount{
    align-content: center;
    margin: auto;
}