
.inputName{
    background-color: #20232a;
    border-color: #61dafb;
    color: #61dafb;
    
    margin-left: 5%;
    width: 90%;
    height: 40px;
    margin-top: 30px;
    
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
}

.inputTelefono{
    background-color: #20232a;
    border-color: #61dafb;
    color: #61dafb;
    
    margin-left: 5%;
    width: 90%;
    height: 40px;
    
    border-radius: 10px;
    border-width: 1px;
    margin-top: 10px;
    text-align: center;
}

.inputEmail{
    background-color: #20232a;
    border-color: #61dafb;
    color: #61dafb;
   
    margin-left: 5%;
    width: 90%;
    height: 40px;
    
    border-radius: 10px;
    border-width: 1px;
    margin-top: 10px;
    text-align: center;
}


.tituloForm{
    color: #61dafb;
    font-family: Google Sans Display,Sans-Serif;
    text-align: center;
    margin: 10px;
}

.datosFormH1{
    color: #61dafb;
    font-family: Google Sans Display,Sans-Serif;
    margin-left: 40px;
    font-size: 30px;
}

.spanAlert{
    color: white;
    font-size: 12px;
    margin-left: 5%;
}

.datosForm{
    font-family: Google Sans Display,Sans-Serif;
    text-align: left;
    color: #61dafb;
}
.datosFormH2{
    color: white;
    font-family: Google Sans Display,Sans-Serif;
    margin-left: 40px;
    font-size: 20px;
}
.datosFormH3{
    color: white;
    font-family: Google Sans Display,Sans-Serif;
    margin-left: 40px;
    font-size: 20px;
}


.submitForm{
    box-shadow: 0px 0px 4px 4px #61dafb;
    background-color:#20232a;
    color: white;
    border-radius: 10px;
    width: 50%;
    border: none;
    margin-left: 25%;
    margin-top: 10px;
}

.submitForm:hover{
    background-color: #61dafb;
    color: #20232a;
}

