.cardImage{grid-area: cardImage;}
.card-title{grid-area: card-title;}
.price{grid-area: price;}
.verMas{grid-area: verMas;}



.contenedorProducto{
    margin-left: 30%;
    margin-top: 30px;
    width: 800px;
    height: 200px;
    display: grid;
    grid-template:  "cardImage card-title card-title"
                    "cardImage card-title card-title" 
                    "cardImage price verMas"/
                        30%   35% 35%;
}

.cardImage{
    align-content: center;
    margin: auto;
    float: left;
    height: 150px;
}


.card-title{
    padding-top: 20px;
    width: 95%;
    font-size: 20px;
    color: #5e5e5e;
    text-align: left;
    font-family: Google Sans Display,Sans-Serif;
}

.price{
    font-size: 20px;
    text-align: left;
}


.verMas{
    background-color: #4CAF50;
    color: white;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 32px;
    width: 90px;
} 

.verMas:hover{
    background-color: black; 
    color: white;
} 
