
.contenedorProducto{
    float: left;
    display: block;
    margin-top: 50px;
    width: 45%;
    margin-left: 10px;
    box-shadow: 0 0 7px #444444;
}

.card-title{
    margin: 5%;
    font-size: 24px;
    color: #5e5e5e;
    text-align: left;
    font-family: Google Sans Display,Sans-Serif;
}

.price{
    size: 12px;
    text-align: left;
}


.card-img-top{
    height: 250px;
    width: auto;
    float: left;
    margin-right: 20px;
}

.ItemCount{
    float: right;
}
